<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">
    <insert id="save" parameterType="com.tencent.wxcloudrun.model.User">
        insert into mk_user (
              nickname,salt,score,prevtime,logintime,loginip,joinip,jointime,createtime,updatetime,openid,status,token,avatar
        ) values (
                  #{nickname},#{salt},#{score},#{prevtime},#{logintime},#{loginip},#{joinip},#{jointime},#{createtime},#{updatetime},#{openid},#{status},#{token},#{avatar}
                         )
    </insert>


    <select id="getUserByOpenId" resultType="com.tencent.wxcloudrun.model.User">
        select id,nickname,score,openid,status from mk_user where openid = #{openid}
    </select>
    <select id="getSlogList" resultType="com.tencent.wxcloudrun.model.Slog" parameterType="com.tencent.wxcloudrun.model.User">
        select id,name,user_id,image,font_color,bg_color,stype_id,createtime,status from mk_slog
        <where>
            status = 1
            <if test="id != null and id != ''">
                and user_id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="createtime != null and createtime != ''">
                and DATE(FROM_UNIXTIME(createtime)) = CURDATE()
            </if>
        </where>
            order by createtime desc LIMIT 10
    </select>
</mapper>
